:root {
    --color-strong-cyan:  hsl(172, 67%, 45%);
    --color-very-dark-cyan:   hsl(183, 100%, 15%);
    --color-dark-grayish-cyan: hsl(186, 14%, 43%);
    --color-grayish-cyan: hsl(184, 14%, 56%);
    --color-light-grayish-cyan:hsl(185, 41%, 84%);
    --color-very-light-grayish-cyan: hsl(189, 41%, 97%);
    --color-white: hsl(0, 0%, 100%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    background-color: var(--color-light-grayish-cyan);
}
body {
    font-family: "Space Mono", sans-serif;
    color: var(--color-dark-grayish-cyan);
}
h1{
    text-align: center;
    margin-top: 4rem;
    letter-spacing: 4px;
    margin-bottom: 4rem;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    padding: 3.2rem;
    border-radius: 20px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
.bill-amount-section label,
.people-number-section label{
    display: block;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
.bill-amount-section input,
.people-number-section input{
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    color: inherit;
    font-family: inherit;
    border: none;
    background-color: var(--color-very-light-grayish-cyan);
    border-radius: 10px;
    border: 2px solid transparent;
}
.bill-amount-section input{
    background-image: url('images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    text-align: right;
}
.bill-amount-section input:focus,
.people-number-section input:focus{
    outline: none;
    border-color: var(--color-strong-cyan);
}
.people-number-section input{
    background-image: url('images/icon-person.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
}
.bill-amount-section input::placeholder,
.people-number-section input{
    text-align: right;
}
.people-number-section input.error{
    border-color: red;
}
.label-and-error {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}
.error-message{
    color: red;;
    font-size: 1.2rem;
    text-align: right;
    margin-left: auto;
}

.bill-amount-section input::placeholder{
    color: var(--color-grayish-cyan);
}
.tip-section p{
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
.btns{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 2.4rem;
    row-gap: 2.4rem;
}
.btn{
    background-color: var(--color-very-dark-cyan);
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 600;
    padding: .5rem 3.2rem;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
    font-family: inherit;
}  
.btn:hover, 
.btn:active{
    background-color: var(--color-strong-cyan);
}
.custom{
    background-color: var(--color-very-light-grayish-cyan);
    color: var(--color-dark-grayish-cyan);
    font-size: 2rem;
    font-weight: 600;
    padding: .5rem 3.2rem;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    font-family: inherit;
    width: 100%;
}  
.total-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
    background-color: var(--color-very-dark-cyan);
    border-radius: 20px;
    padding: 2.4rem;
}
/* .totals{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
 .tip-amount{
    margin-bottom: 1.6rem;
 }
.tip-amount,
.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tip-amount p,
.total p{
    font-size: 1.6rem;
    color: var(--color-white);
}
.tip-amount .amounts,
.total .amounts{
    color: var(--color-strong-cyan);
    font-size: 2.4rem;
}
.btn-reset{
    background-color: var(--color-strong-cyan);
    color: var(--color-very-dark-cyan);
    font-size: 2rem;
    font-weight: 600;
    padding: .5rem 3.2rem;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
    font-family: inherit;
}  
.btn-reset:hover,
.btn-reset:active{
    background-color: var(--color-light-grayish-cyan);
}
@media(min-width:48em){
    .main{
        padding: 5rem 30rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .two-column-grid{
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }
    .total-section{
        justify-content: space-between;
        padding-top: 4.8rem;
    }
    .tip-amount{
        margin-bottom: 3.2rem;
    }
}